.agent
{
    background-color: orange;
    color:aliceblue;
    border: 5px solid blue;
}
.vikram
{
    background-color: red;
    color: palegreen;
    border: 5px dotted black;
}
.salaar
{
    background-color: green;
    color:aliceblue;
    border: 8px double yellow;
}