#nivas
{
    color:red;
    background-color: aqua;
    border-bottom: 5px solid black;
}
#nivas1
{
    color:blue;
    background-color: black;
    border-bottom: 5px solid red;
}
#nivas2
{
        color:red;
        background-color: yellow;
        border-bottom: 5px solid purple;
}